/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  color: #e91e63;  /* Links are pink */
  text-decoration: none;
}

a:hover {
  color: #d81b60;  /* Darker pink on hover */
}

